/* Анулювання стилів */
*{
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; margin: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1, h2, h3, h4, h5, h6{font-size:inherit; font-weight: 400;}

/* -------------------- */

body{
    background: #181818;
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
}

.header{
    display: grid;
    position: fixed;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 10vh;
    top: 0;
    z-index: 1000;
    background-color: #201d1d;

    .logo img{
        max-width: auto;
        max-height: 10vh;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .menu-button {
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
    
        @media (max-width: 600px) {
            width: 25px;
            height: 25px;
        }
    }
    .menu{
        grid-column: 2;
        display: flex;
        justify-content: flex-end;
        margin: 0 5vw;
        align-items: center;
        
        ul {
            display: flex;
            gap: 45px;
            
            li {
                color: #c6c6c6;
                font-weight: 500;
                font-size: 24px;
                font-family: "Noto Sans", sans-serif;
                text-transform: uppercase;
                cursor: pointer;

                a{
                    color: inherit;
                }
                &:hover {
                    color: #fff;
                    font-weight: 600;
                }
            }
        }
    }    
}

.main-page, .about-me-page, .my-projects-page, .my-blog-page, .contact-me-page{
    width: 100%;
    height: 100vh;
    color: #cfcfcf;
}

.section-title{
    display: block;
    text-align: center;
    margin: 0 0 3% 0;
    font-size: 41px;
}

.main-page{
    .introduction-page{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 10%;
        width: 100%;
        height: 100%;

        .introduction-title{
            color: #fff;
            font-family: "Fira Sans", sans-serif;
            font-style: normal;
            font-size: 48px;

            strong{
                color: #be1736;
            }
        }
        .introduction-image{
            height: 80%;
            padding: 0 5% 0 0;
        }
    }
}

.about-me-page{ 
    display: grid; 
    grid-template-rows: 80%;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "photo text";
    padding: 10%;
    height: 100%; 
    justify-content: center;
    align-content: center;

    .my-photo{
        grid-area: photo;
        border: 5px solid #fff;
        border-radius: 15px;
        overflow: hidden;
        display: flex;    
        
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    .info-about-me{
        display: grid;
        grid-area: text;
        grid-template-rows: 1fr 4fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "title"
            "details";
        margin: 0 0 0 1%;

        .title-about-me{
            grid-area: title;
            text-align: justify;

            .my-name{
                color: #fff;
                font-size: 28px;
                font-weight: 700;
            }
            .short-info{
                font-size: 18px;
            }
        }
        .details-about-me{
            display: grid;
            grid-area: details;
            grid-template-rows: 1fr;
            grid-template-columns: 2fr 3fr;
            grid-template-areas: "description statistics";
            margin: 3% 0 0 0;

            .my-description{
                position: relative;
                grid-area: description;
                font-size: 18px;

                ul{
                    li:not(:first-child){
                        margin: 4% 0 0 0;
                    }
                }
                span{
                    font-weight: 600;
                    color: #fff;
                }
                button{
                    position: absolute;
                    bottom: 0;
                    min-width: 50%;
                    min-height: 20%;
                    border-radius: 45px;
                    font-weight: 600;

                    &:hover{
                        background-color: #181818;
                        color: #fff;
                        border: 2px solid #fff;
                    }
                }
            }
            .work-statistics{
                display: grid;
                grid-area: statistics;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: 
                    "projects science"
                    "years years";
                font-size: 24px;
                gap: 10px;

                .projects-statistic, .science-statistic, .years-statistic{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;  /* Вертикальне центрування */
                    align-items: center;
                    border: 2px solid #fff;
                    border-radius: 15px;
                }
                .projects-statistic{
                    grid-area: projects;
                }
                .science-statistic{
                    grid-area: science;
                }
                .years-statistic{
                    grid-area: years;
                }
                .count{
                    color: #fff;
                    font-size: 32px;
                    font-weight: 700;
                }
                .title{
                    font-weight: 500;
                }
            }
        }
    }
}

.my-projects-page{
    padding: 10%; 
    justify-content: center;
    align-content: center;

    .options-block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;

        .sorting-selector{
            display: flex;
            flex-direction: column;
            width: 10%;
            align-items: flex-start;
            justify-content: center;
            text-align: center;

            select{
                font-size: 20px;
                background: #000;
                color: #fff;
                border: 2px solid #555;
                border-radius: 8px;
                padding: 8px 12px;
            }
        }

        .searching-input{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: center;
            text-align: center;

            input{
                font-size: 20px;
                background: #000;
                color: #fff;
                border: 2px solid #555;
                border-radius: 8px;
                padding: 8px 12px;
                outline: none;
                transition: border-color 0.3s, box-shadow 0.3s;

                &:focus{
                    border-color: #ffffff;
                }
            }

            button{
                font-size: 20px;
                background: #000;
                color: #fff;
                border: 2px solid #555;
                border-radius: 8px;
                margin-left: .25em;
                padding: 8px 12px;
                outline: none;
                transition: border-color 0.3s, box-shadow 0.3s;

                &:hover{
                    border-color: #000;
                    color: #000;
                    background: #fff;
                }
            }
        }
    }
      
    .projects{
        display: flex;
        flex-direction: column;
        width: 80vw;
        min-height: 60vh;
        max-height: 60vh;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        overflow: scroll;
        border-radius: 15px;

        table{
            min-width: 100%;
            min-height: 40%;

            td, th{
                border: 1px solid #fff;
                border-radius: 10px;
            }
            thead{
                position: sticky; /* Залишається на місці при прокручуванні */
                top: 0; /* Прив'язується до верхньої частини контейнера */
                background-color: #222; /* Задайте фон для заголовка */
                z-index: 1; /* Переконайтеся, що заголовок зверху */
                backdrop-filter: blur(100px); /* Розмиття заднього фону */;

                tr{
                    th{
                        height: 5vh;
                        font-weight: 600;
                    }
                }
            }
            tbody{
                background-color: #222222;                
                tr{
                    td{
                        height: 3vh;

                        &:nth-child(1):hover{
                            background-color: #fff;
                            color: #000;
                        }
                    }
                }
                .checked {
                    color: orange;
                }
            }
        }
    }
    
}

.my-blog-page {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    justify-content: center;
    align-content: center;

    .slider{
        .card-wrapper{
            width: 80vw;
            justify-content: center;
            align-items: center;
            
            .articles {
                display: flex;
                flex-direction: row;
                min-height: 60vh;

                .article-block {
                    display: flex;
                    border: 2px solid #fff;
                    border-radius: 15px;
                    flex-direction: column;
                    width: 25vw;
                    height: 60vh;
                    margin: 1em;

                    img {
                        width: 100%;
                        height: 50%;
                        border-radius: 15px 15px 0 0;
                    }

                    article {
                        flex: 1;
                        position: relative;
                        overflow: hidden;
                        
                        .hiddenBtn{
                            color: #800080;
                            font-weight: 600;
                        }

                        h2{
                            font-size: 26px;
                            text-align: center;
                            font-weight: bold;
                            margin: 5% 5% 0 5%;
                        }
                        p{
                            position: relative;
                            max-width: 100%;
                            max-height: 40%;
                            padding: 5% 3%; 
                            text-align: justify;
                            font-size: 18px;
                        }
                        .date{
                            display: block;
                            width: 100%;
                            text-align: center;
                            font-size: 24px;
                            font-weight: 700;
                            position: absolute; /* Залишає дату на місці */
                            bottom: 10%; /* Відстань від низу */
                            left: 0;
                            right: 0; 
                        }
                    }
                }
            }
        }
    }
}

.contact-me-page {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    justify-content: center;
    align-content: center;

    .contact-section{
        display: grid;
        grid-template-areas: "recomendations form";
        gap: 5em;

        .contact-form-block {
            grid-area: form;
            display: flex;
            flex-direction: column;
            min-height: 60vh;

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1em;
                border: 1px solid #fff;
                border-radius: 15px;
                padding: 5%;            

                .details-btn {
                    font-size: 16px;
                    color: #ffffff;
                    text-decoration: none;
                    transition: color 0.3s;

                    &:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }

                .additional-info-container{
                    display: none;
                }

                input, textarea {
                    border-radius: 15px;
                    height: 5vh;
                    width: 75%;
                    padding: 10px;
                }

                textarea{
                    width: 75%;
                    height: 10vh;
                }

                .checking{
                    display: flex;
                    width: 75%;
                    margin: 1% 0;
                    p{
                        width: 90%;
                    }
                    input{
                        width: 10%;
                        height: 2vh;
                    }
                }
                button {
                    border-radius: 15px;
                    height: 5vh;
                    width: 75%;
                    background-color: #fff;
                    color: #000;

                    &:hover {
                        background-color: #000;
                        color: #fff;
                        border: 1px solid #fff;
                    }
                }
            }
        }

        .recomendations {
            grid-area: recomendations;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            margin-top: 10px;
            
            .recomended-user{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 1em;
                    border: 2px solid #fff;
                    border-radius: 90px;
                    width: 10rem;
                    height: 10rem;
                    overflow: hidden;
                    
                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 90%; 
                        object-fit: cover;
                    }
                }

                h3{
                    font-size: 24px;
                    font-weight: 600;
                }
            }
        }
    }
}
